// Container & Breakpoints

@use 'sass:math';

$containerWidth: 1500;

$containerPadding: 20;

$containerSidePadding: math.div($containerPadding, 2);

$breakpoint1630: 1629.98 + px;

$breakpoint1450: 1449.98 + px;

$breakpoint1200: 1199.98 + px;

$breakpoint992: 991.98 + px;

$breakpoint768: 767.98 + px;

$breakpoint480: 479.98 + px;

//Fonts

$fontMain: 'Inter', sans-serif;
